body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.childBg :nth-child(1) {
  background-color: #f3f4f6;
}

.category_Btn:hover ~ .category {
  display: block;
}
/* 
.basketProducts {
  display: none;
}
.basket:hover + .basketProducts {
  display: block;
  color: red;
} */
